.idea/
code-experiments/build/python/bbob2009_testcases.txt
code-experiments/build/python/bbob2009_testcases2.txt
code-experiments/build/python/README.txt
code-experiments/build/python/setup.py
code-experiments/build/python/build/lib.win-amd64-3.6/
code-experiments/build/python/build/lib.win-amd64-3.8/
code-experiments/build/python/build/temp.win-amd64-3.6/
code-experiments/build/python/build/temp.win-amd64-3.8/
code-experiments/build/python/cocoex.egg-info/
code-experiments/build/python/dist/
code-experiments/build/python/exdata/
code-experiments/rw-problems/mario_gan/
code-experiments/rw-problems/top_trumps/
code-experiments/rw-problems/toy_socket/__pycache__/
code-experiments/tools/__pycache__/
code-postprocessing/build/
code-postprocessing/cocopp.egg-info/
code-postprocessing/dist/
code-experiments/build/python/cython/coco.c
code-experiments/build/python/cython/coco.h
code-experiments/rw-problems/Makefile
code-experiments/rw-problems/Makefile.in
code-experiments/rw-problems/Makefile_win_gcc.in
code-experiments/rw-problems/socket_server.c
code-experiments/rw-problems/socket_server.py
